Classroom Info
<p>
<%= render partial: 'classroom', locals: {classroom: @classroom} %>
</p>
<% @classroom.students.each do |student1| %>
    <p><%= render partial: 'students/student', locals: {student: student1} %></p>
<% end %>
